@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for the sender's message box (wedge on the bottom right) */
.rounded-br-custom {
    border-radius: 0.5rem;
    position: relative;
    margin-right: 20px;
    /* Adjust to make space for the wedge */
}

.rounded-br-custom::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -10px;
    /* Adjust to position the wedge correctly */
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #3b82f6;
    /* Tailwind 'blue-500' color */
    border-bottom: 10px solid #3b82f6;
    border-right: 10px solid transparent;
}

/* Styles for the recipient's message box (wedge on the bottom left) */
.rounded-bl-custom {
    border-radius: 0.5rem;
    position: relative;
    margin-left: 20px;
    /* Adjust to make space for the wedge */
}

.rounded-bl-custom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -11px;
    /* Adjust to position the wedge correctly */
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #ffffff;
    /* Tailwind 'white' color */
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
}